<div class="container">
  <div class="row justify-content-center" *ngIf="authService.isGerant()">
    <h4>Liste de clients</h4>
  </div>
  <div class="row" *ngIf="!authService.isGerant()">
    <div class="col-12">
      <h4>Bienvenue {{ user.nom + " " + user.prenom }}</h4>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <button
        routerLink="/clients/new"
        class="btn btn-success"
        role="button"
        aria-pressed="true"
        [disabled]="disabled"
        *ngIf="!authService.isGerant()"
      >
        Nouveau client
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="alert alert-warning" role="alert" *ngIf="message">
        {{ message }}
      </div>
      <table class="table table-striped" *ngIf="!message">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Tél</th>
            <th scope="col">Email</th>

            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <th scope="row">{{ client.id }}</th>
            <td>{{ client.nom }}</td>
            <td>{{ client.prenom }}</td>
            <td>{{ client.tel }}</td>
            <td>{{ client.email }}</td>

            <td>
              <a
                routerLink="/clients/{{ client.id }}"
                class="btn btn-primary mr-4"
                >Details</a
              >
              <a
                routerLink="/clients/{{ client.id }}/edit"
                class="btn btn-warning  mr-4"
                role="button"
                aria-pressed="true"
                >Modifier</a
              >
              <button
                class="btn btn-danger  mr-4"
                (click)="onDeleteClient(client.id)"
                [disabled]="authService.isGerant()"
              >
                Supprimer
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
