<div
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
>
  <h5 class="my-0 mr-md-auto font-weight-normal">PROXY BANQUE</h5>
  <nav class="my-2 my-md-0 mr-md-3" *ngIf="auth.isAuthenticated()">
    <a class="p-2 text-dark" *ngIf="auth.isGerant()" routerLink="/dashboard"
      >Accueil</a
    >
    <a class="p-2 text-dark" *ngIf="auth.isGerant()" routerLink="/employes"
      >Employes</a
    >
    <a class="p-2 text-dark" routerLink="/clients">Clients</a>
    <a class="p-2 text-dark" routerLink="/operations" *ngIf="!auth.isGerant()"
      >Créer un virment</a
    >
  </nav>
  <a
    class="btn btn-outline-danger"
    *ngIf="auth.isAuthenticated()"
    routerLink="/logout"
    >Logout</a
  >
</div>
