<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-6 ">
      <h3 class="mt-4">Créer un virment</h3>
      <hr />
      <div class="form-group row">
        <label for="inputNom" class="col-sm-2 col-form-label">De :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputNom" />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPrenom" class="col-sm-2 col-form-label">Vers :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputPrenom" />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPrenom" class="col-sm-2 col-form-label"
          >Solde :
        </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputPrenom" />
        </div>
      </div>

      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    </div>
  </div>
</div>
