<div class="col-12">
  <div class="card border-secondary mb-3">
    <div class="card-header">
      Nouveau Compte {{ status === "cc" ? "Courant" : "Epargne" }}
    </div>
    <div class="card-body">
      <div class="alert alert-success" role="alert" *ngIf="message">
        {{ message }}
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Solde</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Saisir le solde"
          [(ngModel)]="compte.solde"
        />
      </div>
      <!--
      <div class="form-group" *ngIf="status === 'ce'">
        <label for="exampleInputEmail1">Taux</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Saisir le taux"
          [(ngModel)]="compte.taux"
        />
      </div>-->
      <div class="form-group" *ngIf="status === 'cc'">
        <label for="exampleInputEmail1">Decouvert</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Saisir le decouvert"
          [(ngModel)]="compte.decouvert"
        />
      </div>
      <!--
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Carte</label>
        </div>
        <select
          class="custom-select"
          id="inputGroupSelect01"
          [(ngModel)]="compte.carteType"
        >
          <option value="Premier" selected>Premier</option>
          <option value="Electron">Electron</option>
        </select>
      </div>
      -->
      <button class="btn btn-success" (click)="onSaveCompte()">Submit</button>
    </div>
  </div>
</div>
