<div class="container">
  <div class="row justify-content-center">
    <h4>Liste des employes</h4>
  </div>

  <div class="row">
    <div class="col-12">
      <button
        routerLink="/employes/new"
        class="btn btn-success"
        role="button"
        aria-pressed="true"
        [disabled]="disabled"
      >
        Nouveau employe
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="alert alert-warning" role="alert" *ngIf="message">
        {{ message }}
      </div>
      <table class="table table-striped" *ngIf="!message">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Email</th>
            <th scope="col">Adresse</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employe of employes">
            <th scope="row">{{ employe.id }}</th>
            <td>{{ employe.nom }}</td>
            <td>{{ employe.prenom }}</td>
            <td>{{ employe.email }}</td>
            <td>{{ employe.adresse }}</td>
            <td>
              <a
                routerLink="/employes/{{ employe.id }}"
                class="btn btn-primary mr-4"
                >Details</a
              >
              <a
                routerLink="/employes/{{ employe.id }}/edit"
                class="btn btn-warning  mr-4"
                role="button"
                aria-pressed="true"
                >Modifier</a
              >
              <button
                class="btn btn-danger  mr-4"
                (click)="onDeleteEmploye(employe.id)"
                [hidden]="employe['clients'].length > 0"
              >
                Supprimer
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
